repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
      - id: check-toml

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3
        files: \.(py|pyi)$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.8
    hooks:
      - id: ruff
        args: ["--fix"]
        files: \.(py|pyi)$
      - id: ruff-format
        files: \.(py|pyi)$

  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.5.0
    hooks:
      - id: sqlfluff-lint
        files: \.(sql)$
      - id: sqlfluff-fix
        files: \.(sql)$

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck (system)
        entry: shellcheck
        language: system
        types: [shell]

      - id: shfmt
        name: shfmt (system)
        entry: shfmt -w
        language: system
        types: [shell]
